<template>
  <main role="main">
    <div class="wait" v-if="waitDatas">
      <AnimationAttente />
    </div>
    <div class="wrapper" v-if="!waitDatas">
      <h2>Liste des Utilisateurs</h2>
      <div id="menu-page">
        <div id="search-bars">
          <form class="search-bar" v-on:submit.prevent="search">
            <input
              name="username"
              type="search"
              v-model="username"
              placeholder="Filtrer par nom d'utilisateur"
            />
          </form>
          <img src="../assets/icones/search.png" v-on:click="search"/>
          <button class="button" v-if="resultSearch" v-on:click="fetchDatas">
            liste complète
          </button>
        </div>
        <button class="button" @click="createUser">Ajout utilisateur</button>
      </div>
      <div id="table">
        <div id="table-header">
          <div><h3>Nom d'utilsateur</h3></div>
          <div><h3>E mail</h3></div>
          <div><h3>Droits</h3></div>
          <div class="action-header"><h3>Actions</h3></div>
        </div>
        <div id="table-data">
          <div
            class="client"
            v-for="(user, index) in userList.datas"
            v-bind:key="index"
          >
            <div class="client-data">
              <div class="data-name">
                <h3>{{ user.username }}</h3>
              </div>
              <div class="data-name">
                <h3>{{ user.mail }}</h3>
              </div>
              <div class="data-name">
                <h3>{{ user.grants }}</h3>
              </div>
              <div id="action-table" class="data-name">
                <button
                  class="button-edition"
                  ref="actionButton"
                  v-bind:data-value="index"
                  v-on:click="updateUser()"
                >
                  Editer
                </button>
                <button
                  class="button-suppression"
                  ref="actionButton"
                  v-bind:data-value="user.id"
                  v-on:click="deleteUser()"
                >
                  Supprimer
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <PaginationApp v-show="!waitDatas" v-model:datas="userList" />
  </main>
  <UserForm v-show="showForm" v-model:user="user" />
</template>
<script>
import AnimationAttente from "@/components/AnimationAttente.vue";
import envValues from "@/env";
import PaginationApp from "@/components/PaginationApp.vue";
import UserForm from "@/components/UserFormComponent.vue";
import store from "@/store";

export default {
  name: "ClientListView",
  components: { AnimationAttente, PaginationApp, UserForm },

  data: function () {
    return {
      waitDatas: true,
      userList: {},
      username: "",
      resultSearch: false,
      page: 0,
      showForm: false,
      user: {},
      headers: {
        'Authorization': `Bearer ${store.state.user.token}`,
        "Content-Type": "application/json",
      }
    };
  },

  mounted() {
    this.fetchDatas();
  },
  methods: {
    search() {
      this.waitDatas = true;
      this.page = 0;
      fetch(`${envValues.BASE_URL_DEV}/users/search?name=${this.username}`, {
        method: "GET",
        headers: this.headers
      })
        .then((res) => {
          if (res.ok) {
            return res.json();
          }
          throw new Error("Impossible de récupérer les données");
        })
        .then((data) => {
          this.waitDatas = false;
          this.resultSearch = true;
          this.userList = data;
        })
        .catch((error) => {
          //TO DO : Gérer l'erreur sur la page
          console.log(error);
        });
    },
    fetchDatas() {
      fetch(`${envValues.BASE_URL_DEV}/users?page=${this.page}`, {
        method: "GET",
        headers: this.headers
      })
        .then((res) => {
          if (res.ok) {
            return res.json();
          }
          throw new Error("Impossible de récupérer les données");
        })
        .then((data) => {
          this.resultSearch = false;
          this.username = "";
          this.waitDatas = false;
          this.userList = data;
        })
        .catch((error) => {
          //TO DO : Gérer l'erreur sur la page
          console.log(error);
        });
    },
    deleteUser() {
      this.waitDatas = true;
      fetch(
        `${envValues.BASE_URL_DEV}/users/${event.target.getAttribute(
          "data-value"
        )}`,
        {
          method: "DELETE",
          headers: this.headers }
      )
        .then((res) => {
          if (res.ok) {
            if (this.userList.currentPage != undefined) {
              this.page = this.userList.currentPage;
              if (this.userList.datas.length == 1) {
                this.page = this.userList.currentPage - 1;
              }
              this.page < 0 ? (this.page = 0) : this.page;
            }
            this.fetchDatas();
          }
          throw new Error("Impossible de supprimer l'utilisateur");
        })
        .catch((error) => {
          //TO DO : Gérer l'erreur sur la page
          console.log(error);
        });
    },
    updateUser() {
      this.user = this.userList.datas[event.target.getAttribute("data-value")];
      this.showForm = true;
    },
    createUser() {
      this.user = {};
      this.showForm = true;
    },
  },
};
</script>
<style scoped>
.wait {
  height: 86.5vh;
}
main {
  background-color: #4c599d;
  background-image: url("../assets/img/pattern.png");
  background-blend-mode: luminosity;
  background-position: -2rem -2rem;
  padding-bottom: 1.2rem;
}

.wrapper {
  display: flex;
  padding: 0rem 4.625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  flex: 1 0 0;
  align-self: stretch;
  color: white;
  height: 86vh;

  filter: alpha(opacity=10);
  margin-bottom: 0.25rem;
}

.wrapper h2 {
  margin: 0;
  color: #fff;
  font-family: "Exo 2", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#menu-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

#search-bars {
  display: flex;
  align-items: flex-end;
  gap: 3.75rem;
  align-self: stretch;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.search-bar input {
  border-radius: 2.4375rem;
  background: #f4f4f4;

  padding: 1rem;

  color: #0f0f0f;
  font-family: "Exo 2", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 40rem;
  height: 3rem;

  border: none;
}

#search-bars img {
  width: 3.5625rem;
  height: 3.5625rem;
  flex-shrink: 0;
  cursor: pointer;
}

.button {
  width: 20rem;
  padding: 0.75rem 4.125rem;
  border-radius: 1.25rem;
  background: #d4d5fc;

  color: #313b72;
  font-family: "Exo 2", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  border: none;
  cursor: pointer;
}
.button-suppression {
  width: 10rem;
  padding: 1rem 1rem;
  border-radius: 1.25rem;
  background: #d8a9a9;
  color: #313b72;
  font-family: "Exo 2", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  border: none;
  cursor: pointer;
}
.button-edition {
  width: 10rem;
  padding: 1rem 1rem;
  border-radius: 1.25rem;
  background: #add1b2;
  color: #313b72;
  font-family: "Exo 2", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  border: none;
  cursor: pointer;
}

/* 
Gestion du tableau
*/

.action-header {
  display: flex !important;
  justify-content: center !important;
}

#action-table {
  display: flex;
  justify-content: space-around;
}
#table {
  min-width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 0.875rem;
}

#table-header {
  display: flex;
  padding-bottom: 3rem;
  align-self: stretch;

  margin-bottom: -4rem;
  border-radius: 0.875rem;
  border: 6px solid #313b72;
  padding-left: 2rem;
  background: #f4f4f4;
}
.client {
  display: flex;
  padding-left: 1.5rem;
  justify-content: center;
  gap: 2.5rem;
  align-self: stretch;
}

#table-header h3 {
  color: #313b72;
  font-family: "Exo 2", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

#table-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  overflow: auto;
  border-radius: 1.4375rem;
  border: 6px solid #313b72;
  background: #f4f4f4;
}

#table-header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
}

.client-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
}

.client h3 {
  color: #313b72;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.data-name {
  display: flex;
  align-items: center;
  flex: 1 0 0;
}
</style>
