<template>
  <main role="main" >
    <div class="wait" v-if="waitDatas">
      <AnimationAttente />
    </div>
    <div class="wrapper" v-if="!waitDatas">
      <h2>Liste des clients</h2>
      <div id="search">
        <div id="search-bars">
          <form class="search-bar" v-on:submit.prevent="search">
            <input
              id="input-name"
              type="search"
              placeholder="Saisissez un nom ou une entreprise"
              v-model="query"
            />
          </form>
          <img src="../assets/icones/search.png" v-on:click="search"/>
          <button class="button" v-if="resultSearch" v-on:click="fetchDatas">
            liste complète
          </button>
        </div>
        <button class="button" @click="createCustomer">Ajouter Client</button>
      </div>
      <table>
        <thead>
          <tr>
            <th class="oeuil"></th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Entreprise</th>
            <th>Statut</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="client in ClientsList.datas" v-bind:key="client.id">
            <td class="oeuil">
              <router-link :to="`/detailClient/${client.id}`">
                <img src="../assets/icones/eye.png" />
              </router-link>
            </td>
            <td>{{ client.lastname }}</td>
            <td>{{ client.firstname }}</td>
            <td>{{ client.company }}</td>
            <td>{{ client.active }}</td>
          </tr>
        </tbody>
      </table>

    </div>
    <PaginationApp v-show="!waitDatas" v-model:datas="ClientsList" />
  </main>
    <CustomerForm v-show="showForm"/>
</template>

<script>
import AnimationAttente from "@/components/AnimationAttente.vue";
import CustomerForm from "@/components/CustomerFormComponent.vue";
import PaginationApp from "@/components/PaginationApp.vue";
import envValues from "@/env";
import store from "@/store";

export default {
  name: "ClientListView",
  components: { AnimationAttente, PaginationApp, CustomerForm },
  data: function () {
    return {
      waitDatas: Boolean,
      ClientsList: [],
      page: 0,
      showForm: false,
      customer: {},
      resultSearch: false,
      query:"",
      headers: {
        'Authorization': `Bearer ${store.state.user.token}`,
        "Content-Type": "application/json",
      }
    };
  },
  mounted() {
    this.fetchDatas();
  },
  methods: {
    fetchDatas() {
          this.waitDatas = true;
    fetch(`${envValues.BASE_URL_DEV}/customers?page=${this.page}`, {
      method: "GET",
      headers: this.headers
    })
      .then((res) => {
        if (res.ok) {
          return res.json();
        }
          throw new Error("Impossible de récupérer les données");
      })
      .then((data) => {
        this.resultSearch = false;
        this.query = "";
        this.waitDatas = false;
        this.ClientsList = data;
      })
      .catch((error) => {
          //TO DO : Gérer l'erreur sur la page
          console.log(error);
        });
    },
    search() {
      this.waitDatas = true;
      this.page = 0;
      fetch(`${envValues.BASE_URL_DEV}/customers/search?query=${this.query}`, {
        method: "GET",
        headers: this.headers
      })
        .then((res) => {
          if (res.ok) {
            return res.json();
          }
          throw new Error("Impossible de récupérer les données");
        })
        .then((data) => {
          this.waitDatas = false;
          this.resultSearch = true;
          this.ClientsList = data;
        })
        .catch((error) => {
          //TO DO : Gérer l'erreur sur la page
          console.log(error);
        });
      
    },
    createCustomer() {
      this.customer = {};
      this.showForm = true;
    }
  }
};
</script>

<style scoped>
main {
  background-color: #4c599d;
  background-image: url("../assets/img/pattern.png");
  background-blend-mode: luminosity;
  background-position: -2rem -2rem;
  padding-bottom: 1.2rem;
}

.wait {
  height: 86.5vh;
}
.wrapper {
  display: flex;
  padding: 0rem 4.625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  flex: 1 0 0;
  align-self: stretch;
  color: white;
  height: 86vh;
  filter: alpha(opacity=10);
}

.wrapper h2 {
  margin: 0;

  color: #fff;
  font-family: "Exo 2", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

#search-bars {
  display: flex;
  align-items: flex-end;
  gap: 3.75rem;
  align-self: stretch;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.search-bar input {
  border-radius: 2.4375rem;
  background: #f4f4f4;

  padding: 1rem;

  color: #0f0f0f;
  font-family: "Exo 2", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  border: none;
}

#input-name {
  width: 40vw;
  height: 5vh;
}

#input-company {
  width: 20vw;
  height: 5vh;
}

#search-bars img {
  width: 3.5625rem;
  height: 3.5625rem;
  flex-shrink: 0;
  cursor: pointer;
}

.button {
  width: 20rem;
  padding: 0.75rem 4.125rem;
  border-radius: 1.25rem;
  background: #d4d5fc;
  color: #313b72;
  font-family: "Exo 2", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  border: none;
  cursor: pointer;
}

table {
  min-width: 52rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: stretch;
  border-radius: 0.875rem;
}

thead {
  padding-bottom: 3rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-bottom: -4rem;
  border-radius: 0.875rem;
  border: 6px solid #313b72;
  background: #f4f4f4;
}
thead tr {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

thead th {
  color: #313b72;
  min-width: 15rem;
  font-family: "Exo 2", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

tbody {
  flex: 1;
  align-self: stretch;
  overflow: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 1.4375rem;
  border: 6px solid #313b72;
  background: #f4f4f4;
}

tbody tr {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

tbody td {
  min-width: 15rem;
  color: #313b72;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.oeuil {
  min-width: 1rem;
}

tbody img {
  width: 2.375rem;
  height: 1.5625rem;
  transition: transform .1s;
}

.oeuil:hover {
-ms-transform: scale(1.5);
-webkit-transform: scale(1.5);
transform: scale(1.5);
}
</style>
