<template>
    <div v-if="waitDatas">
        <AnimationAttente />
    </div>
    <main role="main" v-if="!waitDatas">
        <div class="d_show">
        <form action="" @submit.prevent="submit">
        <fieldset id="name">
            <div id="last_name">
            <label for="last_name">Nom</label>
            <input type="text" id="last_name" name="last_name" v-model="customer.lastname" :disabled="disabled" required>
            </div>
            <div id="first_name">
            <label for="first_name">Prénom</label>
            <input type="text" id="first_name" name="first_name" v-model="customer.firstname" :disabled="disabled" required>
            </div>
        </fieldset>

        <fieldset id="corp">
            <div id="company">
                <label for="company">Entreprise</label>
                <input type="text" id="company" name="company" class="company" v-model="customer.company" :disabled="disabled" required>
            </div>
            <div id="phone">
            <label for="phone">Téléphone fixe</label>
            <input type="tel" name="phone" id="phone" v-model="customer.phone" :disabled="disabled">
            </div>
        </fieldset>

        <fieldset id="contact">
            <div id="email">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" v-model="customer.mail" :disabled="disabled" required>
            </div>
            <div id="mobile">
            <label for="mobile">Téléphone portable</label>
            <input type="tel" name="mobile" id="mobile" v-model="customer.mobile" :disabled="disabled">
            </div>
        </fieldset>

        <fieldset id="plus">
            <div id="notes">
            <label for="notes">Notes</label>
            <textarea id="notes" name="notes" rows="5" v-model="customer.notes" :disabled="disabled"></textarea>
            </div>
            <div id="relations">
            <div id="status">
                <label for="status">Statut</label>
                <select id="status" :disabled="disabled" v-model="customer.active">
                <option value="false">Lead</option>
                <option value="true">Actif</option>
                </select>
            </div>
            <button class="button" v-if="customer.orders.length > 0" id="orders" @click.prevent="showOrders">Commandes</button>
            </div>
        </fieldset>
        <div class="actionButtons">
        <button class="valider" v-if="disabled" @click="update">Modifier</button>
        <button class="annuler"  v-if="!disabled" @click.prevent="close">Annuler</button>
        <button class="valider"  v-if="!disabled" @click.prevent="submit">Mettre à jour</button>
        </div>
        </form>
        </div>
    </main>
</template>

<script>
    import AnimationAttente from "@/components/AnimationAttente.vue";
    import envValues from "@/env";
    import store from "@/store";

    export default {
    name: "DetailClientView",
    components: { AnimationAttente },
    data: function () {
        return {
            waitDatas: Boolean,
        disabled:true,
        customer: {},
        headers: {
            'Authorization': `Bearer ${store.state.user.token}`,
            "Content-Type": "application/json",
      }
        };
    },
    mounted() {
        this.fetchDatas();
    },
    methods: {
        fetchDatas() {
            this.waitDatas = true;
            fetch(`${envValues.BASE_URL_DEV}/customers/` + this.$route.params.id,
            {
                method: "GET",
                headers: this.headers
            })
            .then((res) => {
                if (!res.ok) {
                    console.log(res.status);
                    throw new Error(
                        "Impossible de recupérer les données du client"
                    );
                }
                return res.json();
            })
            .then((data) => {
                this.waitDatas = false;
                this.customer = data;
                console.log(data)
            })
            .catch((error) => {
            //TO DO : Gérer l'erreur sur la page
                console.log(error);
            });
        },
        showOrders() {
        console.log(this.customer.orders)
        },
        update() {
            this.disabled = false;
         },
        close() {
            this.disabled = true;
            this.fetchDatas();

        },
        submit() {

        fetch(`${envValues.BASE_URL_DEV}/customers/${this.customer.id}`, {
        method: "PUT",
        headers: this.headers,
        body: JSON.stringify(this.customer),
      })
        .then((res) => {
          if (!res.ok) {
            throw new Error(
              "Impossible de créer le client"
            );
          }
          this.close()
        })
        .catch((error) => {
          //TO DO : Gérer l'erreur sur la page
          console.log(error);
        });

        },
    },
};
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

html {
    font-size: 1.5vh;
}

body {
    margin: 0;
    background: #4C599D;
}

main {
    font-family: "Exo 2", sans-serif;
    color:white;
    display: flex;
    flex-direction: column;
    height: 94.1vh;
    background-color: #4c599d;
    background-image: url("../assets/img/pattern.png");
    background-blend-mode: luminosity;
    background-position: -2rem -2rem;
    filter: alpha(opacity=10);
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
    text-align: left;
    margin-top: 0;
    margin-bottom: 1rem;
}

.actionButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

button {
    cursor: pointer;
}

.div_annnuler {
  display: flex;
  justify-content: end;
}

.annuler {
  background-color: #d8a9a9 !important;
}

.valider {
  background-color: #add1b2 !important;
}

form {
    font-size: 3vh;
    display: flex;
    flex-direction: column;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-left: 0;
    padding-right: 0;
}

input {
    border-radius: 1.5rem;
    border: none;
    background: #F4F4F4;
}

input, #notes{
    margin-top: 0.3rem;
    padding: 1rem;
    font-size: 1.5rem;
}

#status {
    margin-top: 1.3rem;
    font-size: 1.5rem;
}

#last_name, #first_name, #company, #email, #phone, #mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 10vh;
}

#last_name, #first_name {
    width: 45vw;
}

#company, #email {
    width: 60vw;
}

#phone, #mobile {
    width: 30vw;
}

#notes {
    border-radius: 1.5rem;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80vw;
    height: 25vh;
}

#relations {
display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#status {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

select {
    width: 10vw;
    height: 5vh;
    font-size: 2.3vh;
    font-family: "Exo 2", sans-serif;
}

#orders {
align-self: flex-end;
}

button {
    font-family: "Exo 2", sans-serif;
    align-self: center;
    font-size: 2.6vh;
    background-color: #D4D5FC;
    border-radius: 1.5rem;
    border: none;
    width: 10vw;
    height: 5vh;
}
</style>
