<template>
  <div class="wrapper">
    <div>
      <img class="img" src="../assets/img/logo.png" />
      <p>En apesanteur le Musk du raton laveur n'a pas d'odeur</p>
    </div>

    <form @submit.prevent="tryLogin">
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Nom d'utilisateur"
        v-model="username"
        autocomplete
      />
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Mot de passe"
        v-model="password"
        autocomplete
      />
      <button class="button" type="submit">Se connecter</button>
    </form>
  </div>
</template>

<script>
import store from "@/store";
import envValues from "@/env";

export default {
  name: "LoginView",
  data() {
    return { username: "", password: "" };
  },
  methods: {
    tryLogin() {
      let form = { username: this.username, password: this.password };
      fetch(`${envValues.BASE_URL_DEV}/generateToken`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(form),
      }).then((res) => {
          if (!res.ok) {
            throw new Error(
              "Authentification fail"
            );
          }
          return res.text();
      })
        .then((data) => {
          store.state.user.token = data;
          let tokenJson = (JSON.parse(atob(data.split('.')[1])))
          store.state.user.role = tokenJson.role.toLowerCase();
          if (store.state.user.role == "ouvrier") {
            this.$router.push({ name: "planning" });
          } else {
            this.$router.push({ name: "clientsList" });
          }
          })
        .catch((error) => {
          //TO DO : Gérer l'erreur sur la page
          console.log(error);
        });
    },
    
  },
};
</script>

<style scoped>
p {
  font-size: 1rem;
}
.wrapper {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
div {
  padding-right: 5rem;
}
form {
  padding-left: 10rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

input {
  border-radius: 2.4375rem;
  background: #f4f4f4;
  padding: 1rem;
  color: #0f0f0f;
  font-family: "Exo 2", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}

.img {
  border-radius: 2rem;
  max-height: 350px;
  max-width: 350px;
}

form input {
  margin-bottom: 1rem;
}
.button {
  width: 20rem;
  padding: 0.75rem 4.125rem;
  border-radius: 1.25rem;
  background: #d4d5fc;
  color: #313b72;
  font-family: "Exo 2", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  border: none;
  cursor: pointer;
}
</style>
