<template>
  <div class="d_show">
    <form @submit.prevent="submit">
      <fieldset>
        <div>
          <label for="last_name">Nom</label>
          <input type="text" id="last_name" v-model="lastname" required>
        </div>
        <div>
          <label for="first_name">Prénom</label>
          <input type="text" id="first_name" v-model="firstname" required>
        </div>
      </fieldset>

      <fieldset>
        <div>
              <label for="company">Entreprise</label>
              <input type="text" id="company" v-model="company" required>
        </div>
        <div>
          <label for="phone">Téléphone fixe</label>
          <input type="tel" id="phone" v-model="phone">
        </div>
      </fieldset>

      <fieldset>
        <div>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" v-model="mail" required>
        </div>
        <div>
          <label for="mobile">Téléphone portable</label>
          <input type="tel" id="mobile" v-model="mobile">
        </div>
      </fieldset>

      <fieldset>
        <div>
          <label for="notes">Notes</label>
          <textarea id="notes" name="notes" rows="5" v-model="notes"></textarea>
        </div>
      </fieldset>
    <div class="formButtons">
      <button class="annuler" @click.prevent="close()">Annuler</button>
      <button class="valider" type="submit">Valider</button>
    </div>
    </form>
  </div>
</template>

<script>
import envValues from "@/env";
import store from "@/store";

export default {

  data: function () {
    return {
      customer: {
        lastname: "",
        firstname: "",
        company: "",
        phone: "",
        mail: "",
        mobile: "",
        notes: ""
      },
      headers: {
        'Authorization': `Bearer ${store.state.user.token}`,
        "Content-Type": "application/json",
      }
    };
  },
  methods: {
    close() {
      this.resetForm();
      this.$parent.showForm = false;
    },
    submit() {
      this.customer.lastname = this.lastname;
      this.customer.firstname = this.firstname;
      this.customer.company = this.company;
      this.customer.phone = this.phone;
      this.customer.mail = this.mail;
      this.customer.mobile = this.mobile;
      this.customer.notes = this.notes;
      this.customer.active = false;
      this.$parent.waitDatas = true;
      this.postForm();
      this.resetForm();
      this.$parent.showForm = false;

    },
    postForm() {
      fetch(`${envValues.BASE_URL_DEV}/customers`, {
        method: "POST",
        headers: this.headers,
        body: JSON.stringify(this.customer),
      })
        .then((res) => {
          if (!res.ok) {
            throw new Error(
              "Impossible de créer le client"
            );
          }
          this.$parent.fetchDatas();
        })
        .catch((error) => {
          //TO DO : Gérer l'erreur sur la page
          console.log(error);
        });

     },
    resetForm() { 
      this.lastname = "";
      this.firstname = "";
      this.company = "";
      this.phone = "";
      this.mail = "";
      this.mobile = "";
      this.notes = "";
    }
  },
};
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

html {
    font-size: 1.5vh;
}

body {
    margin: 0;
    background: #4C599D;
}

main {
    font-family: "Exo 2", sans-serif;
    color:white;
    display: flex;
    flex-direction: column;
    height: 94.1vh;
    background-color: #4c599d;
    background-image: url("../assets/img/pattern.png");
    background-blend-mode: luminosity;
    background-position: -2rem -2rem;
    filter: alpha(opacity=10);
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
}

.d_show {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1055;
  opacity: 1;
  top: -5rem;
  left: 0rem;
  height: 100vh;
  width: 100vw;
  padding-top: 6rem;
  backdrop-filter: blur(8px);
  background-color: rgb(163, 153, 153, 0.45);
}

h2 {
    font-size: 2rem;
    font-weight: 400;
    text-align: left;
    margin-top: 0;
    margin-bottom: 1rem;
}


.annuler {
  background-color: #d8a9a9 !important;
}

.valider {
  background-color: #add1b2 !important;
}

form {
    font-size: 3vh;
    display: flex;
    flex-direction: column;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    min-height: 10vh;
}

fieldset div {
  display: flex;
  flex-direction: column;
  align-items: start;
}

input {
    border-radius: 1.5rem;
    border: none;
    background: #F4F4F4;
    padding: 1rem;
    margin-top: 0.3rem;
    font-size: 1.5rem;
    width: 45vw;
}


.formButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2rem;
}


#notes {
    border-radius: 1.5rem;
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: none;
    display: flex;
    width: 93vw;
    height: 25vh;
}


button {
    font-family: "Exo 2", sans-serif;
    align-self: center;
    font-size: 2rem;
    background-color: #D4D5FC;
    border-radius: 1.5rem;
    border: none;
    width: 10vw;
    height: 5vh;
    cursor: pointer;
}
</style>
