<template>
  <div v-if="datas.nbPagesResult > 1">
    <orbit class="orbit" :size="30" v-if="datas.currentPage == 0" />
    <previous
      :size="30"
      class="pageChange"
      v-if="datas.currentPage != 0"
      v-on:click.prevent="updateDatas(datas.currentPage - 1)"
    />
    <span>Page {{ datas.currentPage + 1 }} sur {{ datas.nbPagesResult }}</span>
    <next
      :size="30"
      class="pageChange"
      v-if="datas.currentPage + 1 != datas.nbPagesResult"
      v-on:click.prevent="updateDatas(datas.currentPage + 1)"
    />
    <orbit
      class="orbit"
      :size="30"
      v-if="datas.currentPage + 1 == datas.nbPagesResult"
    />
  </div>
  <div
    v-if="datas.nbPagesResult == 1 || datas.nbPagesResult == null"
    class="ghost"
  >
    <orbit class="orbit" :size="30" />
  </div>
</template>
<script>
import previous from "vue-material-design-icons/SkipPreviousCircleOutline.vue";
import next from "vue-material-design-icons/SkipNextCircleOutline.vue";
import orbit from "vue-material-design-icons/Orbit.vue";

export default {
  name: "PaginationApp",
  components: { previous, next, orbit },
  props: { datas: {} },

  methods: {
    updateDatas(pageNb) {
      this.$parent.page = pageNb;
      this.$parent.waitDatas = true;
      this.$parent.fetchDatas();
    },
  },
};
</script>
<style scoped>
.pageChange {
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;
}
div {
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
}
.orbit {
  padding-left: 1rem;
  padding-right: 1rem;
  color: #42b983;
  animation: rotate 30s linear infinite;
}
.ghost {
  visibility: hidden;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
</style>
