<template>
  <div class="d_show">
    <div class="div_annuler">
      <button class="button annuler" @click.prevent="close()">Annuler</button>
    </div>

    <form @submit.prevent="submit">
      <div class="form_input">
        <div class="column">
          <label for="username">Nom d'utilisateur</label>
          <input
            id="username"
            type="text"
            placeholder="Nom d'utilisateur"
            required
            v-model="username"
          />
        </div>
        <div class="column">
          <label for="password">Mot de passe</label>
          <input
            id="password"
            type="text"
            placeholder="Mot de passe"
            required
            v-model="password"
          />
        </div>
      </div>
      <div class="form_input">
        <div class="column">
          <label for="mail">E-mail</label>
          <input
            id="mail"
            type="email"
            placeholder="Email"
            required
            v-model="mail"
          />
        </div>
        <div class="column">
          <label for="grants">Droits du compte</label>
          <select id="grants" required v-model="grants">
            <option value="">Choisir les doits</option>
            <option value="OUVRIER">Ouvrier</option>
            <option value="COMMERCIAL">Commercial</option>
            <option value="ADMIN">Administrateur</option>
          </select>
        </div>
      </div>
      <div>
        <button class="button valider" type="submit">Valider</button>
      </div>
    </form>
  </div>
</template>

<script>
import envValues from "@/env";
import store from "@/store";

export default {
  props: { user: {} },

  data: function () {
    return {
      user4Api: {
        username: "",
        password: "",
        grants: "",
        mail: "",
      },
      headers: {
        'Authorization': `Bearer ${store.state.user.token}`,
        "Content-Type": "application/json",
      }
    };
  },
  beforeUpdate: function () {
    this.username = this.user.username;
    this.password = this.user.password;
    this.mail = this.user.mail;
    this.grants = this.user.grants;
  },
  methods: {
    close() {
      this.resetForm();
      this.$parent.showForm = false;
    },
    submit() {
      this.user4Api.username = this.username;
      this.user4Api.password = this.password;
      this.user4Api.mail = this.mail;
      this.user4Api.grants = this.grants;
      if (typeof this.user.id !== "undefined" && this.user.id !== null) {
        this.user4Api.id = this.user.id;
      }
      this.$parent.waitDatas = true;
      this.createOrUpdate(this.user4Api);
      this.resetForm();
      this.$parent.showForm = false;
    },
    resetForm() {
      this.username = "";
      this.password = "";
      this.mail = "";
      this.grants = "";
    },
    createOrUpdate(user) {
      let url = `${envValues.BASE_URL_DEV}/users`;
      let method;
      if (typeof this.user.id !== "undefined") {
        url = url + "/" + user.id;
        method = "PUT";
      } else {
        method = "POST";
      }
      fetch(url, {
        method: `${method}`,
        headers: this.headers,
        body: JSON.stringify(this.user4Api),
      })
        .then((res) => {
          if (!res.ok) {
            throw new Error(
              "Impossible de créer ou mettre à jour l'utilisateur"
            );
          }
          this.$parent.fetchDatas();
        })
        .catch((error) => {
          //TO DO : Gérer l'erreur sur la page
          console.log(error);
        });
    },
  },
};
</script>

<style scoped>
.column {
  display: flex;
  flex-direction: column;
}
.form_input {
  display: flex;
  justify-content: space-around;
}
.div_annuler {
  display: flex;
  justify-content: end;
  margin-right: 10rem;
}
.annuler {
  background-color: #d8a9a9 !important;
}
.valider {
  background-color: #add1b2 !important;
}
div {
  margin-top: 5rem;
}
form {
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
  margin-right: 10rem;
}
.d_show {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1055;
  opacity: 1;
  top: -5rem;
  left: 0rem;
  height: 100vh;
  width: 100vw;
  padding-top: 6rem;
  backdrop-filter: blur(8px);
  background-color: rgb(163, 153, 153, 0.45);
}
.button {
  width: 20rem;
  padding: 0.75rem 4.125rem;
  border-radius: 1.25rem;
  background: #d4d5fc;
  color: #313b72;
  font-family: "Exo 2", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  border: none;
  cursor: pointer;
}

input {
  border-radius: 2.4375rem;
  background: #f4f4f4;
  padding: 1rem;
  color: #0f0f0f;
  font-family: "Exo 2", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 40rem;
  height: 3rem;
  border: none;
}
select {
  border-radius: 2.4375rem;
  background: #f4f4f4;
  padding: 1rem;
  color: #0f0f0f;
  font-family: "Exo 2", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 42rem;
  height: 5rem;
  border: none;
}
</style>
