<template role="size">
  <MenuApp />
  <router-view />
</template>

<script>
import MenuApp from "./components/MenuApp.vue";
export default {
  components: { MenuApp },
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");

body {
  font-size: 1.5rem;
  margin: 0;
}

[role="size"] {
  height: 100vh;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
</style>
